.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left{
    flex-basis: 40%;
}
.about-img{
   width: 100%;
   border-radius: 25px;
}
.play-icon{
    padding-left: 0;
    
}
.about-right{
    flex-basis: 56%;
}
