.campus{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.campus img{
    width: 50%;
    border-radius: 10px;
    display: block;
    display: flex;
}
.gallery{
    flex-basis: 31%;
    position: relative;
}
