.programs {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.program{
    flex-basis: 31%;
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,15,152,0.3);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
}
.caption img{
    width: 60px ;
    margin-bottom: 10px;
}